body{
    background-color: hsl(357, 88%, 90%);

}
#div1{

    background-image: url("valentines_images/rose2.gif");
    background-size: 15%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    transition: background-image 1.9s ease-in-out, opacity 0.5s ease-in-out;
    background-color: hsl(0, 65%, 80%);
    border: solid 2px transparent;
    max-width: 630px;
    min-height: 400px;
    text-align: center;
    padding: 15px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 8px 8px 15px hsl(346, 17%, 56%);
}
#div1.show{
    opacity: 1;
}
.options{
    border-radius: 10px;
    padding: 5px;
    width: 90px;
    height: 50px;
    border: transparent;
    align-items: center;

}
#container{
   text-align: center;
    
}
.options:hover{
    cursor:pointer;
}

.story-script-regular {
  font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 2.5em;
  
}
#someh1{
    color:hsl(350, 91%, 60%);
}
#p1{
    margin: auto;
    text-align: center;
    margin: 30px 30px 30px 30px;
    color: hsl(346, 17%, 56%);
}
#yesBtn{
    background-color:hsl(350, 91%, 60%);
    color: white;
    width: 120px;
    height: 65px;
    box-shadow: 8px 8px 15px hsl(344, 12%, 37%);
}
#yesBtn:hover{
    background-color:hsl(350, 91%, 70%);
    border: transparent;
    
}
.glow{
    box-shadow: 0 0 20px 5px rgb(252, 70, 134), 0 0 40px #f92525, 0 0 60px #e62ded;
}
#noBtn{
    background-color: hsl(0, 7%, 27%);
    color: hsl(350, 91%, 60%);
    border: transparent;
    box-shadow: 8px 8px 15px hsl(344, 12%, 37%);
}
#p3{
    text-align: center;
    font-size: 1.5em;
    color: hsl(346, 17%, 56%);
}
#p4{
    text-align: center;
    font-size: 21px;
    color: hsl(346, 17%, 36%);
}
#p4::after{
    content: "|";
    animation: blink is infinite;
}
@keyframes blink{
    0%, 50% { opacity: 1;}
    50.01%, 100% { opacity: 0;}
}
#heart-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /*clicks go through*/
    overflow: hidden;
}
.heart{
    position: absolute;
    color: red;
    font-size: 24px;
    animation: floatUp 5s linear forwards;
}
@keyframes floatUp{
    0%{
        transform: translateY(100vh) scale(1);
        opacity: 1;
    }
    100%{
        transform: translateY(-10vh) scale(1.5);
        opacity: 0;
    }
}
#div2{

    background-image: url("valentines_images/rose2.gif");
    background-size: 15%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

    background-color: hsl(0, 65%, 80%);
    border: solid 2px transparent;
    max-width: 450px;
    min-height: 400px;
    text-align: center;
    padding: 15px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 8px 8px 15px hsl(346, 17%, 56%);
}

